# Build artifacts
build/
DerivedData/

# User-specific settings
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Xcode workspace settings
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Misc
*.orig

